body {
    padding: 0;
    margin: 0;
}

h1 {
    margin-left: 10px;
    margin-top:0;
    padding-top: 10px;
}



.float-right{
    float: right;
}



.float-left{
    float: left;
}


img {
    margin: 10px;
}

.artikel {

    background-color: #BEDFDF;
    width: 60%;
}